<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
</head>
<body>
    <section id="app">
        <%- component %>
    </section>
    <script src="http://localhost:8080/app.js" type="text/javascript" charset="utf-8"></script>
    <%= env %>
</body>
</html>
