<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.1.1/flexboxgrid.min.css" type="text/css" />
</head>
<body>
	<section id="app">
		<%- component %>
	</section>
	<script src="http://localhost:8080/js/app.js" type="text/javascript" charset="utf-8"></script>
	<hr>
	<%= env %>
</body>
</html>
